<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eko strona</title>
    <link rel="stylesheet" href="/components/style/header.css" />
  </head>
  <body>
    <header>
      <div class="header__navbar">
        <div class="header__navbar--logo">
          <img src="#" alt="logo" />
        </div>
        <div class="header__navbar--menu">
          <ul class="menu">
            <li class="menu__option">
              <a href="">RECYKLING</a>
            </li>
            <li class="menu__option">
              <a href="">OCHRONA ŚRODOWISKA</a>
            </li>
            <li class="menu__option">
              <a href="">OSZCZĘDZANIE ENERGII</a>
            </li>
            <li class="menu__option">
              <a href="">QUIZ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__text">
        <p class="header__title">
          ZMIENIAJ ŚWIAT <br /><span class="header__subtitle">NIE KLIMAT</span>
        </p>
      </div>
      <div class="header__bglink">
        <img
          src="/public/link__icon.png"
          alt="link"
          width=" "
          height=" "
          class="header__bglink--img"
        />
        <p class="header__link"><a href="">background link</a></p>
      </div>
    </header>
  </body>
</html>
