<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="../style/Sindex.css">
</head>
<body>
     <header>
          <nav>
               <div class="logo">

               </div>
               
                    <a href="#">first</a>
                    <a href="#">second</a>
                    <a href="#">trird</a>
                    
               
          </nav>
             <section class="headImg">
               <div class="glass-text-box">
                    <h1>
                         EKO i wgl 
                    </h1>
                    <p>śmieci wywal może?</p>
               </div>
             </section> 
     </header>
     <main>
          <div class="png1"></div>
          <div class="textbox1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rerum asperiores nihil eaque, soluta vitae molestias at architecto doloribus cum tempore, officia sapiente error alias. At deleniti cupiditate exercitationem unde.</div>
     </main>
     <footer>
          <p>credits</p>
     </footer>
</body>
</html>